minio:
  release: minio.RELEASE.2019-04-18T21-44-59Z
  platform: linux-amd64
  download_url: https://dl.min.io/server/minio/release/
  install_path: /usr/local/bin/
  user: minio
  group: minio
  uid: 900
  gid: 900
  limit_nofile: 65536
  access_key: AKIAIOSFODNN7EXAMPLE
  secret_key: wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
  volumes: /tmp/test
  browser: off
  drive_sync: on
  http_trace: /var/log/minio.log
  port: 9000

# **NOTE:** browser and drive_sync options will be ignored 
# They are keep here for informational purposes.
# Sadly "on" and "off" are intepreted as booleans by yaml 
# so "True" and "False" are the values that are rendered 
# in the /etc/default/minio file, and obviously minio just 
# refuses to start as it doesn't recognises that values.
