# Remote volumes to be used for MinIO server.
MINIO_VOLUMES={{ minio_volumes }}
# Use if you want to run MinIO on a custom port.
MINIO_OPTS={{ minio_opts }}
# Access Key of the server.
MINIO_ACCESS_KEY={{ minio_access_key }}
# Secret key of the server.
MINIO_SECRET_KEY={{ minio_secret_key }}
# Enable or disable access to web UI. By default it is set to on
MINIO_BROWSER= {{ minio_browser }}
# By default, MinIO writes to disk in synchronous mode for all metadata operations.
MINIO_DRIVE_SYNC={{ minio_drive_sync }}
# By default, MinIO disables the feature to log HTTP trace.
# Set log file here to enable it.
MINIO_HTTP_TRACE={{ minio_http_trace }}
